.show-eddi-detail {
    cursor:pointer;
}

.positive-zone .timeglider-event-spanner {
    background-color:#ff6666;
    color:black;
}

.negative-zone .timeglider-event-spanner {
    background-color:#77ff33;
    color:black;
}

.vdw .timeglider-event-spanner {
    background-color:#0066FF;
    color:black;
}

input {
    border-bottom:1px solid;
}